<!-- JS -->
<script src="{{ site.url }}/assets/js/main.min.js"></script>
<script src="{{ site.url }}/assets/js/nanobar.min.js"></script>
<script src="{{ site.url }}/assets/js/typed.min.js"></script>
{% if site.google-analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.google-analytics }}', 'auto');  
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');
</script>
{% endif %}
<!-- nanobar & typed js snippet -->
<script>
var options = {
	classname: 'progress-bar',
	id: 'nano-bar'
};

var nanobar = new Nanobar(options);

nanobar.go(100);

var typed = new Typed(".typed-info", {
  strings: ['Hi, there!', 
            'I am Chanmi Lee, a web developer living in Seoul.', 
            'I am obviously passionate about `how stuff works` and spending most of my time with people I love, exploring the world and also learning something new!',
            'Looking for a creative developer?',
            'or curious about my personal project, check out the projects !'],
  typeSpeed: 40,
  backSpeed: 0,
  smartBackspace: true,
  loop: true
});

</script>

